.date{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    
}
.date .circle{
    background: transparent;
    border: 2px solid var(--green-color);
    padding: 10px 20px;
    color: #fff;
}
.abt1{
    border-radius: 100%;
    border: 10px solid var(--green-color);
    padding: 7px;
    /* box-shadow: 20px 20px 5px #f0a8b8; */

   
}
.about{
    background: linear-gradient(45deg, #36363693, #3d3d3d60);
    backdrop-filter: blur(90px);
    color: #fff;
}