.date{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.date .circle{
    background: transparent;
    border: 2px solid var(--green-color);
    padding: 10px 20px;
    color: #fff;
}