.pay-highlight{
    width: fit-content;
    background-color: rgba(225, 103, 239, 0.2) !important;
    border: 1px solid rgba(194, 103, 239, 0.2) !important;
    padding: 2px 10px;
    padding-top: 5px;
    color: #fff;
    display: flex;
    align-items: center;
    border-radius: 10px;
}
.hero{
    text-align: center;
  
    min-height: 100vh;
    position: relative;
    
}
.blur1{
    width: 200px;
    height: 200px;
    background: radial-gradient(#f8f839, #f8f839);
    filter: blur(90px);
    position: absolute;
    top: 20px;
    left: 20px;
}
.blur2{
    width: 200px;
    height: 200px;
    background: radial-gradient(#f8f839, #f8f839);
    filter: blur(100px);
    position: absolute;
    top: 20px;
    right: 20px;
}
.date-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.bars{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    min-height: 300px;
    height: 100%;
}
.bar{
    height: 30px;
    width: 100%;
    background: linear-gradient(45deg, #f4edf8, #FFEEEE);
}
.module{
    border-radius: 20px;
    margin-bottom: 30px;
    border: 1px solid #6867675e;
    background:linear-gradient(45deg, #1e2220, #494949);
    color: #fff;

}
.module ul li::marker{
    content: "✅";
}
.module ul li{
    margin-bottom: 20px;
}
.m-tag{
    padding: 10px;
    background-color: #EBD8C3;
    border-radius: 100px;
    width: fit-content;
    color: #000;
    min-width: 100px;
    text-align: center;
}
.bg{
    background:linear-gradient(45deg, #00000002, #0000007d), url('https://media.licdn.com/dms/image/C4D16AQFbJeEIl5IJVw/profile-displaybackgroundimage-shrink_200_800/0/1573135992196?e=2147483647&v=beta&t=NlBMGoKdZR3ZgDyRXkCTgVbzj-8wrW7Z0FVHMdbway0') no-repeat center;
    background-size: cover;
    background-color: #000;
    min-height: 70vh;
}
@media (max-width:768px){
    .bg{
        background-position: bottom right;
        background-size: contain;
    }
}