.home{
    /* background-color: var(--black-color); */
    /* background: url('../images/home-page-svg.svg') no-repeat center; */
    background-size: cover;
    color: #000 !important;
    background-color: #131313;
    /* background: linear-gradient(#431400, #25180d, #000, #000); */
}