.register-form{
    background-color: black !important;
    width: 100%;
}
.register-form .card-header{
    background-color: rgba(255, 193, 189, 0.2) !important;
    border: 1px solid rgba(255, 206, 206, 0.232) !important;
}